.principal-container-header {
    background-color: var(--color-p2);
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px calc(226px + 20px);
    position: fixed;
    z-index: 999;
    grid-area: principal-header;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 5%);
}

.container-header-esquerda {
    display: flex;
}

.header-principal-min {
    padding-left: 90px;
}
    .header-principal-min-pequeno {
        padding-left: 10px;
    }

.container-usuario-logado {
    min-width: 200px;
    /* margin-right: 30px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

    .usuario-logado-texto p {
        font-size: .82rem;
        font-weight: 400;
    }

    .usuario-logado-texto span {
        font-size: .72rem;
        font-weight: 300;
    }

.usuario-logado-icodown {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

.usuario-info {
    display: flex;
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: all .2s;
    border-left: 1px solid var(--color-c2);
}

.usuario-info:hover {
    background-color: #F2F5FA;
}

.usuario-info:hover .ico-icodown  {
    color: var(--color-s2);
}

.ico-icodown {
    transition: ease-out .2s;
}

.usuario-logado-icodown span {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}

.usuario-logado-texto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    border-color: var(--color-s7);
}

.usuario-logado-foto {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .usuario-logado-foto img {
        width: 40px;
        height: 40px;
    }


/* dropdown usuario logado */
.usuario-logado-dropdown {
    background-color: var(--color-c0);
    border: 1px solid var(--color-c3);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5%);
    padding: 10px;
    position: absolute;
    width: 150px;
    width: 100%;
    box-sizing: border-box;
    top: 80px;
    left: 0px;
    z-index: 2;
    display: none;
}

    .dropwdown-logado {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .dropwdown-logado li a {
        display: flex;
        align-items: center;
        padding: 5px;
        width: 100%;
        height: auto;
        font-size: .82rem;
        transition: all .2s;
        gap: 5px;
        color: var(--color-c10);
        transition: ease-out .2s;
    }

    .dropwdown-logado li a span {
        color: var(--color-c10);
        transition: ease-out .2s;
    }
    
    .dropwdown-logado li a:hover {
        color: var(--color-10);
    }

    .dropwdown-logado li a:hover span {
        color: var(--color-10);
    }


.container-titulo-cabecalho {
    display: flex;
    align-items: center;
}

.container-titulo-cabecalho h1 {
    color: var(--color-0);
}
    .header-sub-min {
        padding-left: 70px;
    }
        .header-sub-min-pequeno {
            padding-left: 0px;
        }
