body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-height: 800px; */
    height: auto;
    height: 100dvh;
    background-color: #f5f5f5;
}

.conteudo-login,
.conteudo-autenticacao {
    position: relative;
    max-width: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-login,
.container-autenticacao {
    /* margin-top: 50px; */
    background-color: #fff;
    max-width: 460px;
    min-height: 660px;
    height: auto;
    width: 100%;
    padding: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
}

.container-login.empresa {
    min-height: 500px;
    height: 100%;
}

.container-img {
    height: auto;
    display: flex;
    align-items: center;
}

.container-img img {
    height: 40px;
}
.container-login h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font: 700 2.25em/2.87rem 'Montserrat', sans-serif;
}

.container-autenticacao h1 {
    margin-top: 40px;
    /* margin-bottom: 40px; */
}

.container-formulario {
    width: 100%;   
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.container-formulario label {
    margin-bottom: 10px;
}

.container-formulario input {
    width: 100%;
    height: 48px;
    border-radius: .2em;
    outline: none;
    border: 1px solid;
    border-color: var(--color-c4);
    background-color: transparent;
    padding-left: 40px;
    color: var(--color-c10);
}

.container-formulario select {
    width: 100%;
    height: 48px;
    border-radius: .2em;
    outline: none;
    border: 1px solid;
    border-color: var(--color-c4);
    background-color: transparent;
    padding: 0px 20px;
    color: var(--color-c10);
}

.container-empresa-login {
    margin-top: 40px;
}


.container-formulario input:focus {
    /* box-shadow: 0px 0px 2px 2px red;
    border: 1px solid;
    border-color: var(--color-p6); */
}

.container-button {
    display: flex;
    justify-content: end;
}

.btn-entrar {
    width: 100%;
    height: 48px;
    border: 1px solid transparent;
    border-radius: .2em;
    background-color: #273746;
    color: var(--color-c1);
    letter-spacing: .2rem;
}

.btn-entrar:hover {
    background-color: #0A1224;
}

.btn-entrar:active {
    background-color: #273746;;
    color: #fff;
}

.btn-entrar:disabled:active {
    color: #273746;
}

.btn-entrar:disabled {
    background-color: var(--color-s1);
    cursor: not-allowed;
}

.container-input-usuario,
.container-input-senha,
.container-input-empresa-login {
    position: relative;
}

.icone-login {
    z-index: 1;
}

.icone-matricula::after {
    content: url(../../assets/img/outros/matricula.svg);
    position: absolute;
    left: 8px;
    top: 10px;
}

.icone-senha::after {
    content: url(../../assets/img/outros/password.svg);
    position: absolute;
    top: 10px;
    left: 8px;
}

.icone-ver-senha::before {
    content: url(../../assets/img/outros/password-hidden.svg);
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
}

.icone-ver-senha.visible::before {
    content: url(../../assets/img/outros/password-visible.svg);
}


.container-formulario .is-invalid:focus  {
    box-shadow: 0px 0px 2px 2px var(--color-a-red3);
    border-color: var(--color-a-red2);
}

.container-formulario .is-invalid {
    border-color: var(--color-a-red3);
}

.rodape-login p {
    text-align: center;
}

@media (max-height: 800px) {
    .conteudo-login,
    .conteudo-autenticacao {
        /* margin-top: 10px; */
    }

}

@media (max-width: 425px) {
    body {
        align-items: start;
        margin-top: 0px;
    }

    .conteudo-login,
    .conteudo-autenticacao {
        margin-top: 0px;
    }

    .container-login,
    .container-autenticacao {
        height: 100dvh;    
        margin-top: 0px;
        padding-bottom: 0px;
    }

    .rodape-login {
        padding: 10px 0px;
    }

}
