:root {

    --color-a0: #ffffff;
    --color-a1: #f5f5f5;
    --color-a2: #EBEBEB;
    --color-a3: #E0E0E0;
    --color-a4: #CCCCCC;
    --color-a5: #B8B8B8;
    --color-a6: #A3A3A3;
    --color-a7: #8F8F8F;
    --color-a8: #7A7A7A;
    --color-a9: #666666;
    --color-a10: #525252;
    --color-a11: #3D3D3D;
    --color-a12: #292929;
    --color-a13: #141414;

     /* Cores base */
    --color-c0: #F8FAFB;
    --color-c1: #F4FAFF;
    --color-c2: #EEF4FF;
    --color-c3: #E8EEFF;
    --color-c4: #CED4E6;
    --color-c5: #A6ACBE;
    --color-c6: #6A7082;

    /* Cores primárias */
    --color-p1: #EEFDFB;
    --color-p2: #D1FAF6;
    --color-p3: #AEF9F0;
    --color-p4: #77FCED;
    --color-p5: #5EECDC;
    --color-p6: #45D7C6;
    --color-p7: #27C1B0;

    /* Cores secundárias */
    --color-s1: #0A1224;
    --color-s2: #000618;
    --color-s3: #02020C;

    --color-t1: #42485A;
    --color-t2: #293042;
    --color-t3: #1E2638;
    --color-t4: #141C2E;

    --color-a-red4: #E05C5C;
    --color-a-red3: #D77C7C;
    --color-a-red2: #FCEEEE;
    --color-a-red1: #FDF4F4;

    --color-a-green4: #4EB899;
    --color-a-green3: #75D5B9;
    --color-a-green2: #D3F8EC;
    --color-a-green1: #E1FAF2;

    --color-a-yellow4: #C49545;
    --color-a-yellow3: #EAC179;
    --color-a-yellow2: #FFEFD1;
    --color-a-yellow1: #FFFAF1;

    --color-a-blue4: #1787CC;
    --color-a-blue3: #51ADE5;
    --color-a-blue2: #B1E0FC;
    --color-a-blue1: #DFF3FF;
}

/* Cores base cinza */
.cor-a0 { color: var(--color-a0);}
.cor-a1 { color: var(--color-a1); }
.cor-a2 { color: var(--color-a2); }
.cor-a3 { color: var(--color-a3); }
.cor-a4 { color: var(--color-a4); }
.cor-a5 { color: var(--color-a5); }
.cor-a6 { color: var(--color-a6); }
.cor-a7 { color: var(--color-a7); }
.cor-a8 { color: var(--color-a8); }
.cor-a9 { color: var(--color-a9); }
.cor-a10 { color: var(--color-a10); }
.cor-a11 { color: var(--color-a11); }
.cor-a12 { color: var(--color-a12); }
.cor-a13 { color: var(--color-a13); }

/* Cores base */
.cor-c0 { color: var(--color-c0);}
.cor-c1 { color: var(--color-c1); }
.cor-c2 { color: var(--color-c2); }
.cor-c3 { color: var(--color-c3); }
.cor-c4 { color: var(--color-c4); }
.cor-c5 { color: var(--color-c5); }
.cor-c6 { color: var(--color-c6); }

/* Cores primárias */
.cor-p1 { color: var(--color-p1); }
.cor-p2 { color: var(--color-p2); }
.cor-p3 { color: var(--color-p3); }
.cor-p4 { color: var(--color-p4); }
.cor-p5 { color: var(--color-p5); }
.cor-p6 { color: var(--color-p6); }
.cor-p7 { color: var(--color-p7); }

/* Cores secundárias */
.cor-s1 { color: var(--color-s1); }
.cor-s2 { color: var(--color-s2); }
.cor-s3 { color: var(--color-s3); }

.cor-t1 { color: var(--color-t1); }
.cor-t2 { color: var(--color-t2); }
.cor-t3 { color: var(--color-t3); }
.cor-t4 { color: var(--color-t4); }


.cor-s21 { color: var(--color-s21); }
.cor-s22 { color: var(--color-s22); }
.cor-s23 { color: var(--color-s23); }

.cor-a-red4 {
    color: var(--color-a-red4);
}

.cor-a-red3 {
    color: var(--color-a-red3);
}

.cor-a-red2 {
    color: var(--color-a-red2);
}

.cor-a-red1 {
    color: var(--color-a-red1);
}

.cor-a-green4 {
    color: var(--color-a-green4);
}

.cor-a-green3 {
    color: var(--color-a-green3);
}

.cor-a-green2 {
    color: var(--color-a-green2);
}

.cor-a-green1 {
    color: var(--color-a-green1);
}

.cor-a-yellow4 {
    color: var(--color-a-yellow4);
}

.cor-a-yellow3 {
    color: var(--color-a-yellow3);
}

.cor-a-yellow2 {
    color: var(--color-a-yellow2);
}

.cor-a-yellow1 {
    color: var(--color-a-yellow1);
}

.cor-a-blue4 {
    color: var(--color-a-blue4);
  }
  
  .cor-a-blue3 {
    color: var(--color-a-blue3);
  }
  
  .cor-a-blue2 {
    color: var(--color-a-blue2);
  }
  
  .cor-a-blue1 {
    color: var(--color-a-blue1);
  }
