html {
    font-size: 1rem;
    line-height: auto;
}

.font-1-xxl-1 {
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
  }

.font-1-h1-b {
    font: 700 4rem/1em "Roboto", sans-serif;
}

.font-1-h2-b {
    font: 700 2.5rem/3.5rem "Roboto", sans-serif;
    margin-bottom: 20px;
}

.font-1-h3-b {
    font: 700 2.25rem/3.5 "Roboto", sans-serif;
}

.font-1-h4-b {
    font: 700 2rem/3 "Roboto", sans-serif;
}

.font-1-h4-sb {
    font: 600 2rem/3 "Roboto", sans-serif;
}

/* texto funcional e outros */
.font-1-lg-r {
    font: 400 1.25rem/1.88 "Roboto", sans-serif;
}

.font-1-lg-sb {
    font: 600 1.25rem/1.88 "Roboto", sans-serif;
}

.font-1-md-l {
    font: 300 1rem/1.5 "Roboto", sans-serif;
}

.font-1-md-sb {
    font: 600 .88rem/1.5 "Roboto", sans-serif;
}

.font-1-s {
    font: 400 .875rem/1.125 "Roboto", sans-serif;
    /* 14px */
}

.font-base {
    font: 400 1rem/1.125 "Roboto", sans-serif;
    /* 16px */
}
.font-lg {
    font: 400 1.125rem/1.25 "Roboto", sans-serif;
    /* 18px */
}
.font-xl {
    font: 400 1.25rem/1.5 "Roboto", sans-serif;
    /* 20px */
}
.font-1-x {
    font: 400 1.5rem/1.85 "Roboto", sans-serif;
    /* 24px */
}
.font-2-x {
    font: 400 1.875rem/2 "Roboto", sans-serif;
    /* 30px */
}
.font-3-x {
    font: 400 2rem/2.125 "Roboto", sans-serif;
    /* 32px */
}


.font-1-s-2 {
    font: 400 1rem/1.5 "Roboto", sans-serif;
}

.font-1-sm-sb {
    font: 500 .81rem/1 "Roboto", sans-serif;
}

.font-1-sm-r {
    font: 400 .75rem/1.125 "Roboto", sans-serif;
}

.font-1-titulo-adm {
    font: 600 1.75rem/1.75 "Roboto", sans-serif;
}

.font-2-md-r {
    font-size: 1em;
    line-height: 1.375rem;
}

.font-2-lg-r {
    font: 400 1.25rem/1.65 "Roboto", sans-serif;
}

/* pesos de fonte */
.peso-leve {
    font-weight: 300;
  }

  .peso-normal {
    font-weight: 400;
  }

  .peso-medio {
    font-weight: 500;
  }

  .peso-semi-bold {
    font-weight: 600;
  }

  .peso-bold {
    font-weight: 700;
  }

@media (max-width:991px){
    .font-1-h2-b {
        font-size: 2.0rem;
        margin-bottom: 20px;
    }
    
    .font-2-lg-r {
        font-size: 1rem;
        line-height: 1.6;
    }

}

@media (min-width: 768px) and (max-width:991px){
    .font-1-h1-b {
        font: 700 3rem/1.1 "Roboto", sans-serif;
    }
    
    .font-1-xxl-1 {
        font: 400 1.1rem/1.6 "Roboto", sans-serif;
    }

}

@media (min-width: 481px) and (max-width:767px){
    .font-1-h1-b  {
        font: 700 3rem/1.1 "Roboto", sans-serif;
    }
    
    .font-1-xxl-1 {
        font: 400 1.1rem/1.6 "Roboto", sans-serif;
    }

}

@media (max-width:480px){
    .font-1-h1-b {
        font: 700 2.25rem/1.2 "Roboto", sans-serif;
    }

    .font-1-h2-b {
        font-size: 1.5rem;
        line-height: 1.5em;
        margin-bottom: 20px;
    }
    
    .font-1-xxl-1 {
        font: 400 .875rem/1.6 "Roboto", sans-serif;
    }

    .font-2-md-r {
        font-size: .75rem;
        line-height: 1.5em;
    }

    .font-2-lg-r {
        font-size: .875rem;
        line-height: 1.6;
    }

    .font-1-s-2 {
        font-size: .875rem;
    }

}

@media (max-width:320px){
    .font-2-md-r {
        font-size: .625rem;
    }

}