.modal-content {
    /* font-family: 'poppins'; */
}

.modal-body p {
    text-align: center;
}

.body-alerta-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer  {
    gap: 20px;
    padding: 12px 0px;
}

.modal-footer.excluir,
.modal-footer.geral {
    background-color: rgb(245, 245, 245);
    padding: 12px 12px;
}

.container-button-modal {
    padding: 20px;
}


.modal-header-second {
    display: flex;
    text-align: center;
    justify-content: center;
}

.modal-header-second span {
    color: #D77C7C;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-alerta-modal {
    background-color: #FCEEEE;
    box-shadow: 0px 0px 0px 8px #FDF4F4;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.btn-modal-cancelar {
    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    color: rgb(116, 116, 116);
}

.btn-modal-excluir {
    background-color: #e05c5c;
    border: #D77C7C;
    color: white;
}

.btn-modal-alerta-acao {
  background-color: var(--color-t1);
  border: var(--color-t1);
  color: #fff;
}

.btn-modal-alerta-acao:hover {
    background-color: var(--color-c6);
  border: var(--color-t1);
    color: white;   
}
.btn-modal-alerta-acao:disabled {
    background-color: var(--color-c6);
    border: var(--color-t1);
    color: white;   
}

.btn-modal-excluir:hover {
    background-color: #D77C7C;
    border: #D77C7C;
    color: white;
}


.container-check {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #dee2e6;
    border-radius: .375rem;
    padding-left: 10px;
    padding: 10px 10px;
}

.form-check-inline {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.form-check {
    padding-left: 0px;
}

.form-check-input {
    border: 1px solid;
    height: 18px;
    width: 18px;
    padding: 5px 0px;
    margin-top: 0px;
}

.form-check .form-check-input {
    margin-left: 0px;
}


.nav-link {
    color: var(--color-c6);
}

.nav-link.active {
    background-color: transparent !important;
    border: 1px solid var(--color-c4) !important;
    border-radius: .2rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: transparent !important;
}

.nav-tabs {
    --bs-nav-tabs-border-color: var(--color-c4) !important;
}

.nav-link:hover {
    color: var(--color-c6);
    color: var(--color-c10);
}

.nav-link.active.nav-modal{
    border: none !important;
    background-color: transparent !important;
    border-bottom: 2px solid !important;
}

.modal-body {
    position: relative;
    min-height: 100px;
    height: 100%;
}

.modal-loader {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    justify-content: center;
    align-items: center;
}

.loader-conteudo {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}