* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth;
}

body, h1, h2, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    scroll-padding-top: 75px; 
}

em {
    color: red;
}

label {
    padding: 5px 0px;
  }

textarea {
    min-height: 100px !important;
    max-height: 100px;
}